body {
  background-color: #CAD2C5;
  margin: 0;
}
nav {
  background-color: #52796F;
  display: flex;
  margin-bottom: 0;
  text-align: center;
}
nav ul {
  margin-left: 0;
  list-style: none;
  display: flex;
  margin: 8px;
  width: 20px; 
  text-align: center; 
}
nav ul a:hover {
  padding-bottom: 100px;
  transform-box: content-box;
  transition-duration: 20;
  color:rgb(28, 175, 8);
}

nav ul a {
  margin-left: 150px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px; 
}
nav  .image {

  margin-left: 100px;
  width: 50px;
  border-radius: 200px;
  align-items: flex-start;
}

.frame {
  background-color: #CAD2C5;
  margin-left: 100px;
  margin-right: 100px;
}
.title {
  font-weight: bolder;
  font-size:large;
  font-size: 48px;
  margin-left: 100px;
}
.subtitled {
  font-size: 32px;
  margin-left: 100px;
}
.small-text {
  font-size: 19px;
  width: 500px;
  margin-left: 100px;
}