.subtitle1{
    text-decoration: underline;
    text-transform: inherit;
    font-weight: bolder;
    font-size: 25px;
}
.exp1 {
    display: flex;
    align-items: center;
    width: 100px;
    height: 200px;s
    p {
        display: inline;

    }
    
}
.rightText {
    margin-left: 50px;
    width: 200px;
    
}
.main {
    display: flexs;
}
.subtitle1:hover{
    text-decoration: none;
    color: darkcyan;
    max-width: 200px;
  
}
.subtitle {
    text-decoration: underline;
}