/* Index Home Page Styling */
body {
  background-color: #CAD2C5;
  margin: 0;
}

nav {
  background-color: #52796F;
}

nav ul {
  margin-left: 0;
  list-style: none;
  display: flex;
  margin: 8px;
  width: 20px; 
}


nav ul a:hover {

  color:rgb(28, 175, 8);
}
nav ul a {
  margin-top: 150px;
  
  margin-left: 150px;
  text-decoration: none;
  color: #fffcfc;
  justify-content: space-between;
  padding-top: 20px;
}

nav ul .image {
  margin-left: 0px;
  width: 100px;
  border-radius: 200px;
  width: 50px;
  border-top-left-radius: 2000px ;
  border-top-right-radius: 2000px;
  border-bottom-left-radius: 2000px;
  border-bottom-right-radius: 2000px;
}

.frame {
  background-color: #CAD2C5;
}
main {
  display: flex;
}
.title {
  font-weight: bolder;
  font-size:large;
  font-size: 48px;
}
.subtitled {
  font-size: 32px;
}
.small-text {
  font-size: 12px;
  width: 128;
}