/* Index Home Page Styling */

main {
  display: flex;
}
.title {
  font-weight: bolder;
  font-size:large;
  font-size: 48px;
  margin-left: 100px;
}
.subtitled {
  font-size: 32px;
  margin-left: 100px;
}
.small-text {
  font-size: 19px;
  width: 500px;
  margin-left: 100px;
}
.lapilogo {
  margin-top: 100px;
}
.right-main {
  margin-top: 100px;
}
.left-main {
  margin-left: 100px;
}
